{{$name := .Get "name"}}
{{$span := .Get "span"}}
{{$hex := .Get "hex"}}
{{$rgb := .Get "rgb"}}
{{$pantone := .Get "pantone"}}
{{$cmyk := .Get "cmyk"}}
{{$mui := .Get "mui"}}

<div class="span-{{$span}}">
  <div class="color-shortcode" style="background: {{$hex}}"></div>
  {{if ne $name "undefined"}}<p><b>{{$name}}</b></p>{{end}}
  {{if ne $hex "undefined"}}<p><b>HEX:</b> {{$hex}}</p>{{end}}
  {{if ne $rgb "undefined"}}<p><b>RGB:</b> {{$rgb}}</p>{{end}}
  {{if ne $pantone "undefined"}}<p><b>PANTONE:</b> {{$pantone}}</p>{{end}}
  {{if ne $cmyk "undefined"}}<p><b>CMYK:</b> {{$cmyk}}</p>{{end}}
  {{if ne $mui "undefined"}}<p><b>MUI:</b> {{$mui}}</p>{{end}}
</div>
