{{$name := .Get "name"}}
{{$span := .Get "span"}}
{{$hex := .Get "hex"}}
{{$rgb := .Get "rgb"}}
{{$pantone := .Get "pantone"}}
{{$cmyk := .Get "cmyk"}}
{{$mui := .Get "mui"}}

<div class="span-{{$span}}">
  <div class="color-shortcode" style="background: {{$hex}}"></div>
  {{with $name}}<p><b>{{$name}}</b></p>{{end}}
  {{with $hex}}<p><b>HEX:</b> {{$hex}}</p>{{end}}
  {{with $rgb}}<p><b>RGB:</b> {{$rgb}}</p>{{end}}
  {{with $pantone}}<p><b>PANTONE:</b> {{$pantone}}</p>{{end}}
  {{with $cmyk}}<p><b>CMYK:</b> {{$cmyk}}</p>{{end}}
  {{with $mui}}<p><b>MUI:</b> {{$mui}}</p>{{end}}
</div>
