.bullet {
  display: flex;
  align-items: flex-start;
  margin: 8px 0 0 0;
  width: 100%;
  align-items: center;

  i {
    margin-right: 10px;
  }

  .success {
    color: $success;
  }

  .danger {
    color: $danger-dark;
  }
}
